body {
    background: #ff0044;
    text-align: center;
}

.btn {
    margin-top: 200px;
    background: #ff9d00;
    width: 100px;
    height: 100px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn:hover {
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.3);
}
.text-div{
    transition:3s ease-in infinite;
    border: 1px solid #ffffff;
    width: auto;
    display: inline-block;
    padding: 19px;
    background: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    color: #00ffbb;
}
.active{
box-shadow: 0 10px 20px 1px rgba(0,0,0,0.4);
}
.error{
 color:red !important;
}
.success{
color:green !important;
}